

 <div class="header"
     fxLayout
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%"></div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="3"><h5>Dhanmondi, 27/A, Dhaka</h5> <h5 style="margin-top: -15px;">Phone No:01763478865</h5></div>
  <div class="item-3" fxFlex><h1><i>Good Food Restaurant</i></h1></div>
</div>
<div class="slider">
  <div
      fxLayout
      fxLayoutGap="10px"
      fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="50%">
        <a mat-button [routerLink]="'/Menu'" class="btn"><i class="material-icons">person</i>Menu</a>
        <a mat-button [routerLink]="'/DataTable'" class="btn"><i class="material-icons">person</i>Product List</a>
        <a mat-button [routerLink]="'/Product'" class="btn"><i class="material-icons">person</i>About</a>
        <a mat-button [routerLink]="'/Product'" class="btn"><i class="material-icons">person</i>Contact</a>

    </div>
    <div  fxFlex="45%">
        <div fxLayout fxLayoutAlign="center" >
            <mat-form-field appearance="outline" style="width: 80%; padding: 2% ;">
              <mat-label style="color:rgb(28, 139, 130)">Search Product</mat-label>
              <input matInput  (keyup)="applyFilter($event.target.value)" placeholder="Filter here" >
              <mat-icon matSuffix><i class="material-icons">search</i></mat-icon>
            </mat-form-field>
          </div>    
        </div>
  </div>
    <div
    fxLayout
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%"></div>
  <div class="item item-3" fxFlex="15%" fxFlexOrder="3"></div>
  <div class="item-2" fxFlex style="background-color: bisque; height: 100%;">
      <router-outlet></router-outlet>
  </div>
  </div>
</div>
